<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSIOFAX_Send.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSIOFAX_Send.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>192.168.1.122</value>
            </setting>
            <setting name="FaxUsername" serializeAs="String">
                <value>mostafa</value>
            </setting>
            <setting name="FaxPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Product_Key" serializeAs="String">
                <value>VOTT-FOFS-SESN-TETH</value>
            </setting>
        </MSIOFAX_Send.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
